.technology {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.25)
    url(../../assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.technology .section-content {
  padding-right: 0;
}

.technology .techno-description {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.techno-description .text {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.indications div {
  width: 70px;
  height: 70px;
  background-color: transparent;
  margin-bottom: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.4s;
  cursor: pointer;
}

.indications div:hover {
  border-color: var(--clr-white);
}

.indications div.active {
  background-color: var(--clr-white);
}

.indications div p {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: var(--clr-white);
}

.indications div.active p {
  color: #0b0d17;
}

.text .terminology {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.text h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
  .technology .section-content {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 1025px) {
  .technology .section-content {
    padding-left: 0rem;
  }

  .technology .title-section {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .technology .techno-description {
    margin-top: 6rem;
    flex-direction: column-reverse;
    padding-bottom: 4rem;
  }

  .techno-description .text {
    flex-direction: column;
    padding: 0 4rem;
    gap: 2rem;
    text-align: center;
  }

  .indications {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .technology .techno-description {
    gap: 4rem;
  }

  .technology .title-section {
    margin-left: 2rem;
  }

  .techno-description .text {
    gap: 1rem;
  }

  .indications {
    gap: 1rem;
  }

  .indications div {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .technology .title-section {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-left: 0;
  }

  .technology .techno-description {
    margin-top: 2rem;
    gap: 3rem;
  }

  .techno-description .text {
    padding: 0 1rem;
  }

  .techno-description .image img {
    width: 100%;
  }

  .indications {
    margin-bottom: 1rem;
  }

  .indications div {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
  }

  .indications div p {
    font-size: 16px;
    line-height: 18px;
  }

  .text .terminology {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.4px;
  }

  .text h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .title-text p {
    font-size: 15px;
    line-height: 22px;
  }
}
