.home {
  background-image: url('../../assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  overflow-y: hidden;
}

.banner {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 150px;
  margin-top: 200px;
}

.banner .left {
  flex: 2;
}

.banner .left h5,
.banner .left h1 {
  margin-bottom: 24px;
}

.banner .left p {
  font-family: 'Barlow', sans-serif;
}

.banner .right {
  flex: 3;
  display: grid;
  place-items: center;
}

.large-btn {
  position: relative;
  width: 250px;
  height: 250px;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 1;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
  text-decoration: none;
  text-transform: uppercase;
}

.large-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.1;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
}

.large-btn:hover::after {
  transform: scale(1.4);
}

@media screen and (max-width: 1350px) {
  .banner {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1025px) {
  .home {
    background: url(../../assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner {
    flex-direction: column;
    margin-top: 15rem;
    margin-left: 0;
  }
  .banner .left {
    text-align: center;
    margin: 0 10rem;
  }
}

@media screen and (max-width: 850px) {
  .banner {
    flex-direction: column;
    margin-top: 10rem;
    gap: 8rem;
  }
}

@media screen and (max-width: 770px) {
  .banner {
    margin-top: 5rem;
    gap: 6rem;
  }
  .large-btn {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 420px) {
  .home {
    background: url(../../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner {
    margin: 0 1rem;
    margin-top: 3rem;
    gap: 5rem;
  }

  .banner .left {
    padding: 0;
    margin: 0;
  }

  .banner .left h5,
  .banner .left h1 {
    margin-bottom: 1rem;
  }

  .banner .left h5 {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }

  .banner .left h1 {
    font-size: 80px;
    line-height: 100px;
  }

  .banner .left p {
    font-size: 15px;
    line-height: 25px;
  }

  .large-btn {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}
