.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 55px;
}

.logo img {
  width: 48px;
  aspect-ratio: 1;
}

.navbar .links {
  padding: 0px 165px 0px 125px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

.navbar .links::before {
  position: absolute;
  content: '';
  width: 470px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.25;
  left: -430px;
  top: 50%;
}

.navbar ul {
  display: flex;
  gap: 48px;
}

ul li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
}

.underline-indicators > * {
  border-bottom: 3px solid hsl(0 0% 100% / 0%);
  padding: 2em 0;
}

.underline-indicators > *:hover {
  border-color: hsl(0 0% 100% / 80%);
}

.navbar .navtext span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 12px;
}

.navbar .menu {
  display: none;
}

@media screen and (max-width: 1350px) {
  .navbar .links::before {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding-top: 30px;
    padding-left: 40px;
  }
  .navbar .links {
    padding: 0px 80px 0px 60px;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    padding-top: 0px;
    padding-left: 2rem;
  }
  .navbar .links {
    padding: 0px 40px 0px 30px;
  }
  .navbar ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .navbar .links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    z-index: 2;
    /* transform: translateX(100%); */
    transition: 0.4s;
  }

  .navbar .active {
    /* transform: translateX(0); */
    display: block;
  }

  .navbar .links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 40%;
  }

  .navbar {
    padding: 1rem;
    overflow: hidden;
  }

  .navbar .underline-indicators > * {
    padding: 0.6em 0;
    border-bottom: none;
  }

  .navbar .menu {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
}
